:root {
  --zen-navigator-toolbox-background: #0B0B0C !important;
  --zen-main-browser-background: #0B0B0C !important;
  --zen-main-browser-background-toolbar: #0B0B0C !important;
  --zen-primary-color: #978094 !important;
  --zen-branding-dark: #0B0B0C !important;
  --zen-branding-paper: #dbccd1 !important;
}
